#----------------------------------------------------------------------
# Arquivo necessário para roteamento de urls amigaveis, sinta-se livre 
# para modificar caso observe problemas relacionados a isso no servidor.
# -Brunoggdev
#----------------------------------------------------------------------

Options -Indexes

#mod_rewrite
RewriteEngine ON

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]